.atardecer-frenesies {
    width: 80%;
    margin: 40px auto;
    display: grid;
    padding-bottom: 100px;
}

.enlaces-navbar-sobre-mi {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-principal;
    font-family: $fuente-principal;
    font-size: 30px;
    font-weight: bold;

}

.contenedorSobre-mi {
    width: 700px;
    margin: auto;
    padding-top: 100px;
}

.Frenesies-Video-sobre-mi {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

    filter: sepia(100%) blur(60px);
}

p {
    font-family: $fuente-principal;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.header-sobre-mi {
    width: 400px;
    position: absolute;
}

.navbar-sobre-mi {
    display: grid;
    text-decoration: none;
    padding: 40px;
    margin-top: 10px;
    width: 400px;
    position: absolute;

    .ul-sobre-mi {
        li {
            list-style: none;
            padding: 10px;
        }
    }

    :hover {
        color: $color-navbar;
    }
}
