.box-contacto {
    width: 400px;
    margin: 50px auto;


}

.contactate {
    font-family: $fuente-principal;
    color: map-get($paleta-colores-contacto, color-contacto);
    font-family: map-get($fuente-contacto, titulo);
    @extend .box-contacto;

}

.form {
    input {
        line-height: 2;
    }
    top: 115px;
    display: grid;
    color: #000000;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 20px;
    background-color: #000000;
    font-family: $fuente-principal;

    textarea {
        font-family: $fuente-principal;
        font-size: large;
        color: #000000;
        resize: none;
        background-color: $color-secundario;
        height: 200px;

    }
}

.header-contacto {
    width: 400px;

    .navbar-contacto {
        display: grid;
        text-decoration: none;
        padding: 45px;
        margin-top: 10px;

        .ul-contacto {
            li {
                list-style: none;
                padding: 10px;
            }
        }

        :hover {
            color: $color-navbar;
        }

    }
}


.header-contacto{
    width: 100%
}
.navbar-contacto{
    width:100%;
    position: absolute;
}


.enlaces-navbar-contacto {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-principal;
    font-family: $fuente-principal;
    font-size: 30px;
    font-weight: bold;

}