@import "extend";
header{
    width: 400px
}
nav{
    width:400;
}
.navbar {
    display: grid;
    text-decoration: none;
    padding: 40px;
    margin-top: 10px;
    width: 400px;

    ul {
        li {
            list-style: none;
            padding: 10px;
        }
    }

    :hover {
        color: $color-navbar;
    }
}

.enlaces-navbar {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-principal;
    font-family: $fuente-principal;
    font-size: 30px;
    font-weight: bold;

}

.footer-text {
    font-family: $fuente-principal;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
}

.logo {
    width: 80%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 100%;
    mix-blend-mode: difference;
}

.Frenesies-Video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

}

.overlay {
    height: 100%;
    width: 100%;
    background-color: $color-secundario;
    position: fixed;
    opacity: 20%;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
    z-index: -99;
}

.overlayHome {
    height: 100%;
    width: 100%;
    background-color: $color-secundario;
    position: fixed;
    opacity: 15%;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
    z-index: -99;
}

.main-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, -50%);
    color: $color-principal;
    font-family: $fuente-secundaria
}

.BotonHome {
    border: 1px solid;
    background: none;
    text-transform: uppercase;
    color: $color-principal;
    font-family: $fuente-principal;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;

    :hover {
        color: $color-secundario;
    }
}

.EscucharAhora {
    text-decoration: none;
    font-family: $fuente-principal;
    text-transform: uppercase;
    color: $color-principal;
}

