@import "extend";

.navbar {
    display: grid;
    text-decoration: none;
    padding: 40px;
    margin-top: 10px;
    width: 400px;
    position: absolute;
    z-index: 1;

    .ul-home {
        li {
            list-style: none;
            padding: 10px;
        }
    }

    :hover {
        color: $color-navbar;
    }
}

.enlaces-navbar {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-principal;
    font-family: $fuente-principal;
    font-size: 30px;
    font-weight: bold;

}

.footer-text {
    font-family: $fuente-principal;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 100px;
}

.logo {
    width: 80%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 100%;
    mix-blend-mode: difference;
}

.Frenesies-Video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

}

.overlay {
    height: 100%;
    width: 100%;
    background-color: $color-secundario;
    position: fixed;
    opacity: 20%;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
    z-index: -99;
}

.overlayHome {
    height: 100%;
    width: 100%;
    background-color: $color-secundario;
    position: fixed;
    opacity: 30%;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
    z-index: -99;
}

.frenesies-portada-inicio {
    width: 20%;
}


.BotonHome {
    border: 1px solid;
    background: none;
    text-transform: uppercase;
    color: $color-principal;
    font-family: $fuente-principal;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;

    :hover {
        color: $color-secundario;
    }
}

.EscucharAhora {
    text-decoration: none;
    font-family: $fuente-principal;
    text-transform: uppercase;
    color: $color-principal;
}

.h1-texto{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $color-principal;
}

@keyframes fade-inout{
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}

.inicio {
    width: 100%;
    padding-top: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    row-gap: 70px;
    animation: fade-inout 6s infinite alternate
}


