
@media (max-width:1350px) {
    h2 {
        font-size: 20px;
    }

    .BotonHome {
        width: 250px;
    }

    .EscucharAhora {
        font-size: 25px
    }

    .enlaces-navbar{
        font-size:25px ;
    }
    .h1-texto{
        font-size: 20px;
    }




}

@media (max-width:878px) {

    .BotonHome {
        display: none;
    }

    .EscucharAhora {
        display: none;
    }
      .h1-text{
        display: none;
    }

    .inicio{
        display:none;
    }

    .footer-text{
        display: none;
    }
}



@media (max-width:790px) {

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 20px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 60px;
        width: auto;
        align-content: center;

    }
    .enlaces-navbar{
        font-size:20px ;
    }

}