@media (max-width:1024px) {
    h2 {
        font-size: 20px;
    }

    .BotonHome {
        width: 350px;
    }

    .EscucharAhora {
        font-size: 40px
    }
}

@media (max-width:878px) {
    h2 {
        display: none;
    }

    .BotonHome {
        display: none;
    }

    .EscucharAhora {
        display: none;
    }
}



@media (max-width:790px) {
    header {
        nav {
            .navbar {
                position: absolute;
                top: 0;
                left: 0;
                right: 20px;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 60px;
                width: auto;

            }
        }
    }

}