.tour-fechas {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-right: 100px;
    right: 300px;

}

.lugares {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    background-color: #adadad;
    margin: 50px;
}

.tickets-botones {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    top: 310px;
}