.VIDEOS {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    left: 0;

    .iframe {
        aspect-ratio: 16/9;
        width: 800px;
        padding: 20px;

    }

    :hover {
        transform: scale(95%);
    }
}

.header-videos{
    width: 400px
}
.nav-general-videos{
    width:400;
}
.navbar-videos{
    display: grid;
    text-decoration: none;
    padding: 40px;
    margin-top: 10px;
    width: 400px;
    position: absolute;

    .ul-videos {
        li {
            list-style: none;
            padding: 10px;
        }
    }

    :hover {
        color: $color-navbar;
    }
}

.enlaces-navbar-videos {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-principal;
    font-family: $fuente-principal;
    font-size: 30px;
    font-weight: bold;

}

