.BotonesNavbar {
    border: 1px solid #000000;
    background: none;
    padding: 10px;
    margin: 4%;
    display: flex;
    flex-direction: column;
    position: relative;

}

.navbar a:hover {
    color: white;
}

.BotonesNavbar:hover {
    border: 1px solid #ffffff;
}

.Frenesies-Video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;

}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    opacity: 20%;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
}

.overlayHome {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    opacity: 40%;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
}


.logo {
    width: 25%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 50%;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 50px 30px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: left;
    position: relative;
    flex-direction: column;
    width: 220px;
    height: 50px;

}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}


.VIDEOS {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 4%;
    top: 0;
    left: 600px;
    width: 70%;

}

.contenedorBoton {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    right: 50%;
    transform: translate(50%, -50%);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 50px;
}

.BotonHome {
    border: 1px solid #000000;
    background: none;
    width: fit-content;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
}

.BotonHome:hover {
    border: 1px solid #ffffff;
    color: white;
}

.portadasAlbumes {
    width: 500px;
    height: 500px;
    object-fit: cover;
}


.contenedorAlbum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 3%;
    position: absolute;
    top: 0px;
    right: 20%;
}

.EscucharAhora {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.EscucharAhora:hover {
    color: aliceblue;
}

input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #000000;
    max-width: 500px;
    max-height: 500px;
    resize: none;
    background-color: #adadad;
    margin: 20px;
}

.form {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: row;
    top: 35%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #000000;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 20px;
    background-color: #000000;
}

@media only screen and (min-width:1446px) and (max-width: 1880px) {
    .BotonesNavbar {
        width: 200px;
        height: 110px;
        top: 100px;
    }

    .navbar a {
        right: 50px;
        font-size: 30px;
        bottom: 25px;
    }

    .contenedorBoton {
        font-size: 30px;
    }

    .BotonHome {
        font-size: 30px;
    }
}




@media only screen and (min-width:1080px) and (max-width:1448px) {

    .BotonesNavbar {
        width: 160px;
        height: 110px;
        top: 100px;
    }

    .navbar a {
        right: 70px;
        font-size: 25px;
        bottom: 20px;
    }

    .contenedorBoton {
        font-size: 20px;
    }

    .BotonHome {
        font-size: 25px;
    }

}

@media only screen and (min-width:800px) and (max-width:1078px) {
    .BotonesNavbar {
        width: 140px;
        height: 110px;
        top: 100px;

    }

    .navbar a {
        right: 80px;
        font-size: 20px;
        bottom: 20px;
    }

    .contenedorBoton {
        font-size: 15px;
    }

    .BotonHome {
        font-size: 20px;
    }
}

@media only screen and (min-width:549px) and (max-width:799px) {
    .BotonesNavbar {
        left: 150px;
        width: 400px;
        height: 110px;
        top: 100px;
    }

    .navbar a {
        font-size: 25px;
        bottom: 25px;
        top: 50%;
        transform: translate(20%, -50%);
    }

    .contenedorBoton {
        visibility: hidden;

    }


}

@media only screen and (min-width:448px) and (max-width:548px) {

    .BotonesNavbar {
        left: 100px;
        width: 200px;
        height: 110px;
        top: 100px;

    }

    .navbar a {
        font-size: 25px;
        bottom: 25px;
        top: 50%;
        transform: translate(0%, -50%);
        right: 50px;

    }

    .contenedorBoton {
        visibility: hidden;

    }


}

@media only screen and (min-width:352px) and (max-width:446px) {
    .BotonesNavbar {
        left: 100px;
        width: 200px;
        height: 110px;
        top: 100px;

    }

    .navbar a {
        font-size: 25px;
        bottom: 25px;
        top: 50%;
        transform: translate(0%, -50%);
        right: 50px;

    }

    .contenedorBoton {
        visibility: hidden;

    }
}

@media only screen and (min-width:300px) and (max-width:350px) {
    .BotonesNavbar {
        left: 100px;
        width: 200px;
        height: 110px;
        top: 100px;

    }

    .navbar a {
        font-size: 25px;
        bottom: 25px;
        top: 50%;
        transform: translate(0%, -50%);
        right: 50px;

    }

    .contenedorBoton {
        visibility: hidden;

    }
}

